/***** BASE STYLES *****/
body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
a {
    color: #77a466;
    text-decoration: none;
}
a:hover {
    color: #666;
    text-decoration: underline;


}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    flex-flow: column;
    padding: 0 26px;
}

/***** HEADER SECTION *****/
header {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #77a466;
    padding-bottom: 20px;
    letter-spacing: 0.12em;
}
header h1 span {
    color: #77a466;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    padding-left: 0;
}
nav ul li {
    display: flex;
    justify-content: center;
    padding: 10px 0 26px 0;
}
nav ul li a {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.banner {
    height: 287px;
    background: url('../img/hero-image.png') no-repeat top #77a466;
    background-size: cover;
    border-top: 4px solid #77a466;
    border-bottom: 4px solid #77a466;
    display: flex;
    justify-content: center;
}

/***** SECTIONS *****/
section {
    border-bottom: 1px solid #dedbdc;
    display: flex;
    justify-content: center;
}
section h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #77a466;
    text-transform: uppercase;  
}
section h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    /* padding: 20px 0 10px 0; */
}
.welcome {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    border-bottom: 1px solid #dedbdc;
}
.welcome p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;

}
.offers {
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.reviews, .specials {
    border-bottom: 1px solid #dedbdc;
    padding: 22px 0;
}

.contact {
    padding: 22px 0;
}
.reviews p, .contact p {
    padding: 18px 0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
}
.contact p {
    line-height: 26px;
}
.specials ul {
    list-style: none;
    margin-left: -40px;
    font-size: 18px;
    
}
.specials ul li {
    padding-top: 22px;
}

/***** FOOTER SECTION *****/
footer {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

footer h3 {
    font-size: 16px;
    text-transform: uppercase;
} 

footer h3 span {
    color: #77a466;
    font-family: 'Galada', cursive;
    text-transform: lowercase;
}

/*---------- TABLETS ----------*/

@media (min-width: 768px) {
    .offers {
        flex-flow: row;
    }
    .third-width {
        width: 33%;
        padding-left: 28px;
        padding-right: 20px;

    }
    .reviews, .specials {
        border-bottom: none;
        border-right: 1px solid #dedbdc;

    }

}

/*---------- Desktops ----------*/
@media (min-width: 1200px) {

}